header {
    background-color: black;
    position: sticky;
    top: 0;
    grid-area: header;
    @include desktop {
        font-size: 0.9rem;
    }
    @include tablet {
        font-size: 2rem;
    }
    @include mobile {
        font-size: 1.5rem;
    }

    nav {
        width: 100%;
        li {
            padding: 10px 10px;
        }
        .nav-link:hover{
            transform: scale(1.1);
        }
    }

    .navbar {
        .logoMobile{
            width: 35%;
            height: 1%;
        }
        .navbar-nav {
            align-items: center;
            .nav-link {
                font-size: 1rem;
                padding: 0.5rem 1rem ;
                transition: .3s;
            } 
            .navbar-brand{
                padding: 0 1rem;
                margin: 0px -207px 0px 0px;
                .logoNav {
                    margin-left: 0%;
                    width: 30%;
                }
            }
        }
    }     
}

