main {
    font-size: 1rem;
    grid-area: main;  
    color: $white 
}
#imagenInicio{
    background-image: url("../assets/images/inicio.webp");
    @include caracteristicas-background-image; 

    .bannerOpacity{
        display: flex;
        flex-direction: column;
        @include background-gradient-claro;
        height: 23%;
        @include desktop {
            height: 31%;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        @include tablet {
            height: 24%;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        @include mobile {
            justify-content: center;
            height: 30%;
        }
        @include mobile-sm {
            height: 37%;
        }

        .textoBanner{
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            margin-left: 10.4%;
            color: $white;
            @include desktop {
                font-size: 0.8rem;
                margin-left: 4%;
                margin-top: 0.5%;
                height: 68%; 
            }
            @include tablet {
                font-size: 1rem;
                margin-left: 3%;
                margin-top: 1.5%;
                height: 68%;
            }
            @include mobile {
                font-size: 1rem;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }
            @include mobile-sm {
                margin-top: 15px;
            }
            .tituloBanner {
                margin-top: .5%;
                font-size: 1.8rem;
                @include desktop {
                    font-size: 1.3rem;
                }
                @include tablet {
                    font-size: 1.8rem;
                }
                @include mobile {
                    font-size: 2rem;
                }
                @include mobile-sm {
                    font-size: 1.8rem;
                }
            }
        }
        .divPresupuesto{
            margin-left: 8.6%;
            @include desktop {
                margin-left: 0.7%;   
            }
            @include tablet {
                margin-left: -1.2%;
            }
            @include mobile {
                margin-left: -4%;
            }
            @include mobile-sm {
                margin-left: -5.5%;
            }
            .pedirPresupuesto{
                display: flex;
                grid-area: boton;
                list-style-type: none;
                width: 100%;
                font-size: 1rem;
                @include desktop {
                    font-size: 0.7rem;  
                }
                @include tablet {
                    font-size: 1rem;
                }
                @include mobile {
                    font-size: 1rem;
                    margin-left: 0px;
                }
                @include mobile-sm {
                    margin-left: 0px;
                    font-size: 1rem;
                }

                li{
                    a{
                        display: flex;
                        list-style-type: none;
                        text-decoration: none;
                        background-color: $naranja;
                        color: $white;
                        padding: 6px 70px 6px 70px;
                        border-radius: 50px;   
                        transition: .5s;
                    }
                }
                a:hover{
                    box-shadow: 5px 3px 5px 5px #3a3a3a;
                }
            }
        }
    }   
}























