#fotos {
    background-image: url("../assets/images/fotos.webp");
    @include caracteristicas-background-image; 

    .galeriaOpacity{
        @include background-gradient;
        width: 100%;
        height: 80px;
        @include mobile-sm {
            height: 70px;
        }
        .tituloFotos{
            @include d-flex-row-all-center;
            height: 100%;
            font-size: 1rem;
        }
    }
    .eventos{
        width: 70%;
        height: 100%;
        padding: auto;
        border-radius: 30px;
        @include tablet {
            width: 87%;
            border-radius: 8px;
        }
        @include mobile {
            border-radius: 10px;
        }
    }
    #boton1 {
        height: 100%;
        margin-top: 6% ;
        position: relative;
        left: -15%;
        @include tablet  {
            margin-top: 6%;
            position: inherit;
        }
        @include mobile {
            margin-top: 2%;
            position: inherit;
        }
   }
   #modalCentrar{
       position: relative;
       top: 150px;
   }
   @include mobile {
    .col-3 {
        width: 42%;
       }
   }

   #boton2 {
    height: 100%;
    margin-top: -26.8%;
    position: relative;
    right: -15%;
    @include tablet {
        margin-top: 5%;
        position: inherit;
    }
    @include mobile {
        margin-top: 5%;
        position: inherit;
    }
   }
}